*{
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.home{
    align-items: center;
    padding: 2rem;
    display: flex;
}

.home-img{
    width: 550px;
    height: 550px;
    border-radius: 1rem;
}

.hero{
    padding: 0 4rem ;
    text-align: left;
}

p{
    font-weight: 500;
    font-size: 1.2rem;
}

.card {
    min-height: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    overflow: hidden;
    text-align: center;
}

.card-image {
    width: 100%;
    height: 200px;
}

.card-content {
    padding: 16px;
}

.card-title {
    padding-top: 10px;
    min-height: 4rem;
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.card-description {
    font-size: 1em;
    color: #666;
    margin: 8px 0;
}


.card-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.card-button:hover {
    background-color: #2980b9;
}

.steps{
    display: flex;
    flex-direction: column;

}

.steps h3, .steps p{
    margin: 7px
}

.logout-page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logout-page img{
    width: 300px;
    height: 300px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 0 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

.login {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

.input{
    width: 100%;
}

.login label {
    text-align: left;
    display: block;
    margin: 10px 0 5px;
}

.login input,
.login select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login button:hover {
    background-color: #323232;
}

#loginMessage {
    color: red;
    font-weight: bold;
}

.services-intro{
    text-align: left;
}

.services{
    padding: 0;
    margin: 3rem auto;
    justify-content: space-around;
    width: 80%;
    display: flex;
    list-style: none;
}

#services, #booking, #logout{
    display: none;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin: 0 auto;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
    color: #333;
}

textarea {
    resize: none;
}

.submit-button{
    background:black;
    color: white;
    width: 100%;
    padding: 0.6rem 2rem;
    margin: 0 auto;
    border-radius: 3px;
}

.success-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}
